{% extends "StacyMarkMainBundle::layout.html.twig" %}

{% block metadescription %}Stacy Mark - Paintings{% endblock %}
{% block keywords %}Stacy Mark, -Stacey, artist, art, paintings, painter{% endblock %}

{% block content %}
<div class="centered page container row">
    <br class="clear"/>
    <section id="tab-content" class="centered gallery row">
    {% if g == "1" %}
    <div id="tab1-content" class="centered">
        <div class="thumbs row centered">
                <a id="ptg1" class="switcher"><img src="{{asset('gallery/t-around-the-bend.jpg')}}" alt="Around The Bend - Painting by Stacy Mark" width="50" height="50"/></a>
                <a id="ptg2" class="switcher"><img src="{{asset('gallery/t-aspen-hill.jpg')}}" alt="Aspen Hill - Painting by Stacy Mark" width="50" height="50"/></a>
                <a id="ptg3" class="switcher"><img src="{{asset('gallery/t-aspen-hill-infinity.jpg')}}" alt="Aspen Hill - Infinity - Painting by Stacy Mark" width="50" height="50"/></a>
                <a id="ptg4" class="switcher"><img src="{{asset('gallery/t-aspen-hill-waveform.jpg')}}" alt="Aspen Hill - Waveform - Painting by Stacy Mark" width="50" height="50"/></a>
                <a id="ptg5" class="switcher"><img src="{{asset('gallery/t-eoth.jpg')}}" alt="Evening On The Hillside - Painting by Stacy Mark" width="50" height="50"/></a>
                <a id="ptg6" class="switcher"><img src="{{asset('gallery/t-eoth-2.jpg')}}" alt="Evening On The Hillside 2 - Painting by Stacy Mark" width="50" height="50"/></a>
                <a id="ptg7" class="switcher"><img src="{{asset('gallery/t-eoth-3.jpg')}}" alt="Evening On The Hillside 3 - Painting by Stacy Mark" width="50" height="50"/></a>
                <a id="ptg8" class="switcher"><img src="{{asset('gallery/t-eoth-hidden-path.jpg')}}" alt="Evening On The Hillside - Hidden Path - Painting by Stacy Mark" width="50" height="50"/></a>
                <a id="ptg9" class="switcher"><img src="{{asset('gallery/t-fading-lands-2.jpg')}}" alt="Fading Lands 2 - Painting by Stacy Mark" width="50" height="50"/></a>
                <a id="ptg10" class="switcher"><img src="{{asset('gallery/t-fading-lands-3.jpg')}}" alt="Fading Lands 3 - Painting by Stacy Mark" width="50" height="50"/></a>
            </div>
            <br class="clear"/>
            <div id="ptg1-content" class="switcher-content col show"><img src="{{asset('gallery/around-the-bend.jpg')}}" width="600" height="397" alt="Around The Bend - Painting by Stacy Mark"/><p>Around The Bend <span>| Sold</span></p></div>
            <div id="ptg2-content" class="switcher-content col"><img src="{{asset('gallery/aspen-hill.jpg')}}" width="600" height="298" alt="Aspen Hill - Painting by Stacy Mark"/><p>Aspen Hill <span>| Sold</span></p></div>
            <div id="ptg3-content" class="switcher-content col"><img src="{{asset('gallery/aspen-hill-infinity.jpg')}}" width="600" height="297" alt="Aspen Hill - Infinity - Painting by Stacy Mark" /><p>Aspen Hill - Infinity <span>| Sold</span></p></div>
            <div id="ptg4-content" class="switcher-content col"><img src="{{asset('gallery/aspen-hill-waveform.jpg')}}" width="600" height="299" alt="Aspen Hill - Waveform - Painting by Stacy Mark" /><p>Aspen Hill - Waveform <span>| Sold</span></p></div>
            <div id="ptg5-content" class="switcher-content col"><img src="{{asset('gallery/evening-on-the-hillside.jpg')}}" width="600" height="598" alt="Evening On The Hillside - Painting by Stacy Mark" /><p>Evening On The Hillside <span>| Sold</span></p></div>
            <div id="ptg6-content" class="switcher-content col"><img src="{{asset('gallery/evening-on-the-hillside-2.jpg')}}" width="600" height="600" alt="Evening On The Hillside 2 - Painting by Stacy Mark" /><p>Evening On The Hillside II <span>| Sold</span></p></div>
            <div id="ptg7-content" class="switcher-content col"><img src="{{asset('gallery/evening-on-the-hillside-3.jpg')}}" width="600" height="600" alt="Evening On The Hillside 3 - Painting by Stacy Mark" /><p>Evening On The Hillside III <span>| Sold</span></p></div>
            <div id="ptg8-content" class="switcher-content col"><img src="{{asset('gallery/evening-on-the-hillside-hidden-path.jpg')}}" width="600" height="600" alt="Evening On The Hillside - Hidden Path - Painting by Stacy Mark" /><p>Evening On The Hillside - Hidden Path <span>| Available</span></p></div>
            <div id="ptg9-content" class="switcher-content col"><img src="{{asset('gallery/fading-lands-2.png')}}" width="384" height="600" alt="Fading Lands II - Painting by Stacy Mark"/><p>Fading Lands II <span>| Sold</span></p></div>
            <div id="ptg10-content" class="switcher-content col"><img src="{{asset('gallery/fading-lands-3.jpg')}}" width="600" height="394" alt="Fading Lands III - Painting by Stacy Mark"/><p>Fading Lands III <span>| Sold</span></p></div>
       </div>
    {% elseif g == "2" %}
       <div id="tab2-content" class="centered">
            <div class="thumbs row centered">
                <a id="ptg11" class="switcher"><img src="{{asset('gallery/t-fading-lands-arbelos-sky.jpg')}}" alt="Fading Lands - Arbelos Sky - Painting by Stacy Mark" width="50" height="50"/></a>
                <a id="ptg12" class="switcher"><img src="{{asset('gallery/t-field-choreography-tri.jpg')}}" alt="Field Choreography - Painting by Stacy Mark" width="50" height="50"/></a>
                <a id="ptg13" class="switcher"><img src="{{asset('gallery/t-geosky.jpg')}}" alt="Geosky - Painting by Stacy Mark" width="50" height="50"/></a>
                <a id="ptg14" class="switcher"><img src="{{asset('gallery/t-i-am-still-beautiful.jpg')}}" alt="I Am Still Beautiful - Painting by Stacy Mark" width="50" height="50"/></a>
                <a id="ptg15" class="switcher"><img src="{{asset('gallery/t-in-the-field.jpg')}}" alt="In The Field - Painting by Stacy Mark" width="50" height="50"/></a>
                <a id="ptg16" class="switcher"><img src="{{asset('gallery/t-insomnia-in-the-city-of-dreams.jpg')}}" alt="Insomnia In The City Of Dreams - Painting by Stacy Mark" width="50" height="50"/></a>
                <a id="ptg17" class="switcher"><img src="{{asset('gallery/t-islands-2.jpg')}}" alt="Islands 2 - Painting by Stacy Mark" width="50" height="50"/></a>
                <a id="ptg18" class="switcher"><img src="{{asset('gallery/t-islands-palm.jpg')}}" alt="Islands - Palm - Painting by Stacy Mark" width="50" height="50"/></a>
                <a id="ptg19" class="switcher"><img src="{{asset('gallery/t-la-fleur-rose-rouge.jpg')}}" alt="La Fleur - Rose Rouge - Painting by Stacy Mark" width="50" height="50"/></a>
                <a id="ptg20" class="switcher"><img src="{{asset('gallery/t-la-fleur-tournesol.jpg')}}" alt="La Fleur - Tournesol - Painting by Stacy Mark" width="50" height="50"/></a>  
            </div>
            <br class="clear"/>
            <div id="ptg11-content" class="switcher-content col show"><img src="{{asset('gallery/fading-lands-arbelos-sky.jpg')}}" width="600" height="600" alt="Fading Lands - Arbelos Sky - Painting by Stacy Mark"/><p>Fading Lands - Arbelos Sky <span>| Sold</span></p></div>
            <div id="ptg12-content" class="switcher-content col"><img src="{{asset('gallery/field-choreography-tri.png')}}" width="600" height="201" alt="Field Choreography Triptych - Painting by Stacy Mark"/><p>Field Choreography, Triptych <span>| Sold</span></p></div>
            <div id="ptg13-content" class="switcher-content col"><img src="{{asset('gallery/geosky.jpg')}}" width="600" height="600" alt="Geosky - Painting by Stacy Mark"/><p>Geosky <span>| Sold</span></p></div>
            <div id="ptg14-content" class="switcher-content col"><img src="{{asset('gallery/i-am-still-beautiful.jpg')}}" width="282" height="600" alt="I Am Still Beautiful - Painting by Stacy Mark"/><p>I Am Still Beautiful <span>| Sold</span></p></div>
            <div id="ptg15-content" class="switcher-content col"><img src="{{asset('gallery/in-the-field.jpg')}}" width="600" height="300" alt="In The Field - Painting by Stacy Mark"/><p>In The Field <span>| Available</span></p></div>
            <div id="ptg16-content" class="switcher-content col"><img src="{{asset('gallery/insomnia-in-the-city-of-dreams.jpg')}}" width="600" height="600" alt="Insomnia In The City Of Dreams - Painting by Stacy Mark"/><p>Insomnia In The City Of Dreams <span>| Available</span></p></div>
            <div id="ptg17-content" class="switcher-content col"><img src="{{asset('gallery/islands-2.jpg')}}" width="600" height="600" alt="Islands II - Painting by Stacy Mark"/><p>Islands II <span>| Sold</span></p></div>
            <div id="ptg18-content" class="switcher-content col"><img src="{{asset('gallery/islands-palm.png')}}" width="600" height="600" alt="Islands - Palm - Painting by Stacy Mark"/><p>Islands - Reclining <span>| Sold</span></p></div>
            <div id="ptg19-content" class="switcher-content col"><img src="{{asset('gallery/la-fleur-rose-rouge.jpg')}}" width="600" height="600" alt="La Fleur - Rose Rouge - Painting by Stacy Mark"/><p>La Fleur - Rose Rouge <span>| Sold</span></p></div>
            <div id="ptg20-content" class="switcher-content col"><img src="{{asset('gallery/la-fleur-tournesol.jpg')}}" width="597" height="600" alt="La Fleur - Tournesol - Painting by Stacy Mark"/><p>La Fleur - Tournesol <span>| Sold</span></p></div>
        </div>
    {% elseif g == "3"  %}
       <div id="tab3-content" class="centered">
            <div class="thumbs row centered">
                <a id="ptg21" class="switcher"><img src="{{asset('gallery/t-may-i-have-this-dance.jpg')}}" alt="May I Have This Dance - Painting by Stacy Mark" width="50" height="50"/></a>
                <a id="ptg22" class="switcher"><img src="{{asset('gallery/t-memories-of-trees-concrete-sky.jpg')}}" alt="Memories Of Trees - Concrete Sky - Painting by Stacy Mark" width="50" height="50"/></a>
                <a id="ptg23" class="switcher"><img src="{{asset('gallery/t-memories-of-trees-crimson-shelter.jpg')}}" alt="Memories Of Trees - Crimson Shelter - Painting by Stacy Mark" width="50" height="50"/></a>
                <a id="ptg24" class="switcher"><img src="{{asset('gallery/t-memories-of-trees-green-shelter.jpg')}}" alt="Memories Of Trees - Green Shelter - Painting by Stacy Mark" width="50" height="50"/></a>
                <a id="ptg25" class="switcher"><img src="{{asset('gallery/t-paths.jpg')}}" alt="Paths - Painting by Stacy Mark" width="50" height="50"/></a>
                <a id="ptg26" class="switcher"><img src="{{asset('gallery/t-reach-for-the-sun.jpg')}}" alt="Reach For The Sun - Painting by Stacy Mark" width="50" height="50"/></a>
                <a id="ptg27" class="switcher"><img src="{{asset('gallery/t-red-dusk-5.jpg')}}" alt="Red Dusk 5 - Painting by Stacy Mark" width="50" height="50"/></a>
                <a id="ptg28" class="switcher"><img src="{{asset('gallery/t-savanna.jpg')}}" alt="Savanna - Painting by Stacy Mark" width="50" height="50"/></a>
                <a id="ptg29" class="switcher"><img src="{{asset('gallery/t-something-in-the-air-3.jpg')}}" alt="Something In The Air 3 - Painting by Stacy Mark" width="50" height="50"/></a>
                <a id="ptg30" class="switcher"><img src="{{asset('gallery/t-something-in-the-air-4.jpg')}}" alt="Something In The Air 4 - Painting by Stacy Mark" width="50" height="50"/></a>
            </div>
            <br class="clear"/>
            <div id="ptg21-content" class="switcher-content col show"><img src="{{asset('gallery/may-i-have-this-dance.jpg')}}" width="600" height="404" alt="May I Have This Dance - Painting by Stacy Mark"/><p>May I Have This Dance? <span>| Sold</span></p></div>
            <div id="ptg22-content" class="switcher-content col"><img src="{{asset('gallery/memories-of-trees-concrete-sky.jpg')}}" width="600" height="600" alt="Memories Of Trees - Concrete Sky - Painting by Stacy Mark"/><p>Memories Of Trees - Concrete Sky <span>| Sold</span></p></div>
            <div id="ptg23-content" class="switcher-content col"><img src="{{asset('gallery/memories-of-trees-crimson-shelter.jpg')}}" width="600" height="600" alt="Memories Of Trees - Crimson Shelter - Painting by Stacy Mark"/><p>Memories Of Trees - Crimson Shelter <span>| Sold</span></p></div>
            <div id="ptg24-content" class="switcher-content col"><img src="{{asset('gallery/memories-of-trees-green-shelter.jpg')}}" width="600" height="600" alt="Memories Of Trees - Green Shelter - Painting by Stacy Mark"/><p>Memories Of Trees - Green Shelter <span>| Sold</span></p></div>
            <div id="ptg25-content" class="switcher-content col"><img src="{{asset('gallery/paths.jpg')}}" width="600" height="600" alt="Paths - Painting by Stacy Mark"/><p>Paths <span>| Available</span></p></div>
            <div id="ptg26-content" class="switcher-content col"><img src="{{asset('gallery/reach-for-the-sun.jpg')}}" width="600" height="600" alt="Reach For The Sun - Painting by Stacy Mark"/><p>Reach For The Sun <span>| Sold</span></p></div>
            <div id="ptg27-content" class="switcher-content col"><img src="{{asset('gallery/red-dusk-5.jpg')}}" width="600" height="479" alt="Red Dusk 5 - Painting by Stacy Mark"/><p>Red Dusk V <span>| Sold</span></p></div>
            <div id="ptg28-content" class="switcher-content col"><img src="{{asset('gallery/savanna.jpg')}}" width="600" height="600" alt="Savanna - Painting by Stacy Mark"/><p>Savanna <span>| Sold</span></p></div>
            <div id="ptg29-content" class="switcher-content col"><img src="{{asset('gallery/something-in-the-air-3.png')}}" width="384" height="600" alt="Something In The Air III - Painting by Stacy Mark"/><p>Something In The Air III <span>| Sold</span></p></div>
            <div id="ptg30-content" class="switcher-content col"><img src="{{asset('gallery/something-in-the-air-4.jpg')}}" width="600" height="399" alt="Something In The Air 4 - Painting by Stacy Mark"/><p>Something In The Air IV <span>| Sold</span></p></div>
        </div>
    {% elseif g == "4" %}
            <div id="tab4-content" class="centered">
                <div class="thumbs row centered">
                    <a id="ptg31" class="switcher"><img src="{{asset('gallery/t-something-in-the-air-shadow-of-cumulus.jpg')}}" alt="Something In The Air - Shadow Of Cumulus - Painting by Stacy Mark" width="50" height="50"/></a>
                    <a id="ptg32" class="switcher"><img src="{{asset('gallery/t-standing-watch-over-things-unseen.jpg')}}" alt="Standing Watch Over Things Unseen - Painting by Stacy Mark" width="50" height="50"/></a>
                    <a id="ptg33" class="switcher"><img src="{{asset('gallery/t-the-green-dance.jpg')}}" alt="The Green Dance - Painting by Stacy Mark" width="50" height="50"/></a>
                    <a id="ptg34" class="switcher"><img src="{{asset('gallery/t-the-player.jpg')}}" alt="The Player - Painting by Stacy Mark" width="50" height="50"/></a>
                    <a id="ptg35" class="switcher"><img src="{{asset('gallery/t-transition-hour-osebo-sky.jpg')}}" alt="Transition Hour - Osebo Sky - Painting by Stacy Mark" width="50" height="50"/></a>
                    <a id="ptg36" class="switcher"><img src="{{asset('gallery/t-transition-hour.jpg')}}" alt="Transition Hour - Painting by Stacy Mark" width="50" height="50"/></a>
                    <a id="ptg37" class="switcher"><img src="{{asset('gallery/t-vespertine-road.jpg')}}" alt="Vespertine Road - Painting by Stacy Mark" width="50" height="50"/></a>
                    <a id="ptg38" class="switcher"><img src="{{asset('gallery/t-voluntary-string-band.jpg')}}" alt="Voluntary String Band - Painting by Stacy Mark" width="50" height="50"/></a>
                    <a id="ptg39" class="switcher"><img src="{{asset('gallery/t-wind-moon-trees.jpg')}}" alt="Wind, Moon, Trees - Painting by Stacy Mark" width="50" height="50"/></a>
                </div>
                <br class="clear"/>
                <div id="ptg31-content" class="switcher-content col show"><img src="{{asset('gallery/something-in-the-air-shadow-of-cumulus.jpg')}}" width="600" height="597" alt="Something In The Air - Shadow Of Cumulus - Painting by Stacy Mark"/><p>Something In The Air - Shadow Of Cumulus <span>| Sold</span></p></div>
                <div id="ptg32-content" class="switcher-content col"><img src="{{asset('gallery/standing-watch-over-things-unseen.jpg')}}" width="527" height="536" alt="Standing Watch Over Things Unseen - Painting by Stacy Mark"/><p>Standing Watch Over Things Unseen <span>| Sold</span></p></div>
                <div id="ptg33-content" class="switcher-content col"><img src="{{asset('gallery/the-green-dance.jpg')}}" width="600" height="600" alt="The Green Dance - Painting by Stacy Mark"/><p>The Green Dance <span>| Sold</span></p></div>
                <div id="ptg34-content" class="switcher-content col"><img src="{{asset('gallery/the-player.jpg')}}" width="600" height="397" alt="The Player - Painting by Stacy Mark"/><p>The Player <span>| Sold</span></p></div>
                <div id="ptg35-content" class="switcher-content col"><img src="{{asset('gallery/transition-hour-osebo-sky.png')}}" width="387" height="600" alt="Transition Hour - Osebo Sky - Painting by Stacy Mark"/><p>Transition Hour - Osebo Sky <span>| Sold</span></p></div>
                <div id="ptg36-content" class="switcher-content col"><img src="{{asset('gallery/transition-hour.jpg')}}" width="600" height="600" alt="Transition Hour - Painting by Stacy Mark"/><p>Transition Hour <span>| Sold</span></p></div>
                <div id="ptg37-content" class="switcher-content col"><img src="{{asset('gallery/vespertine-road.jpg')}}" width="600" height="596" alt="Vespertine Road - Painting by Stacy Mark"/><p>Vespertine Road <span>| Sold</span></p></div>
                <div id="ptg38-content" class="switcher-content col"><img src="{{asset('gallery/voluntary-string-band.jpg')}}" width="600" height="599" alt="Voluntary String Band - Painting by Stacy Mark"/><p>Voluntary String Band <span>| Sold</span></p></div>
                <div id="ptg39-content" class="switcher-content col"><img src="{{asset('gallery/wind-moon-trees.png')}}" width="380" height="600" alt="Wind, Moon, Trees - Painting by Stacy Mark"/><p>Wind, Moon, Trees <span>| Sold</span></p></div>
            </div>
    {% endif %}
       <!--  switcher DIV START -->
         <div id="ptgs" class="row">
            <div id="switcher-panel" class="centered row"></div>
        </div>
        <!-- switcher DIV END -->
    </section>

</div>
{% endblock %}
{% block js_btm %}
    {{ parent() }}
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="{{ asset('scripts/jquery.content-panel-switcher.js') }}"></script>
    <script type="text/javascript" src="{{ asset('scripts/jquery.validate.min.js') }}"></script>
    <!--script type="text/javascript" src="{{ asset('gridpak.js') }}"></script-->
    <script>
            $(document).ready(function(){
                    // content panel switcher
                    jcps.fader(300, '#switcher-panel');
                    // contact
                    $('.contactBtn').click(function(){
                            var $box = $('#contactform');
                            if ($box.height() > 0) {
                                    $box.animate({ height : 0, opacity : 0, bottom : 0 });
                            } else {
                                    $box.animate({ height: 220, opacity : 100, bottom : 100 });
                            }
                    });
                    // bind submit button to ajax fn
                    $('#contactform').bind('submit');
                    //form validator
                    jQuery(function() {		
                            var v = jQuery("#contactform").validate({
                                    rules: {
                                            name: "required",
                                            email: {
                                                    required: true,
                                                    email: true
                                            },
                                            comments: "required"
                                    },
                                    messages: {
                                            name: "*",
                                            email: "*",
                                            comments: "*"
                                    },
                                    submitHandler: function(){
                                            //ajax submit
                                            $.ajax({
                                                    type: "post",
                                                    url:    "{{asset('/scripts/form-send.php')}}",
                                                    data:   $('#contactform').serialize(),
                                                    success: function(){
                                                            $('#contactform').html('<p style="margin:20px 0 0 -15px;text-align:center;font-size:18px;">Thank You!</p>');
                                                            var $box = $('#contactform');
                                                            $box.delay(1000).animate({ height : 0, opacity : 0, bottom : 0});
                                                    }
                                            });
                                            return false;
                                    }
                            });
                    });

            });
    </script>
{% endblock %}