{% extends "StacyMarkMainBundle::layout.html.twig" %}

{% block title %}{{ painting.title }}{% endblock %}
{% block metadescription %}{{ painting.title }} Painting by Stacy Mark{% endblock %}
{% block keywords %}{{ painting.title }}, art, Stacy Mark{% endblock %}

{% block content %}
<div class="centered page container row">
    <br class="clear"/>
    <section id="ptg-content" class="centered gallery row">
    
            <div id="tab4-content" class="centered">
                <div class="thumbs row centered">
                    {#for painting in paintings %}
                            <a href="{{path('stacymark_paintings')}}/{{painting.id}}">
                                <img src="{{asset(['gallery/', painting.thumb]|join)}}" alt="{{ painting.title }}" width="50" height="50" />
                            </a>
                    {% endfor #}
                    {% for painting in paintings %}
                            <a href="{{path('stacymark_paintings')}}/{{painting.id}}">
                                <img src="{{asset(['gallery/', painting.thumb]|join)}}" alt="{{ painting.title }}" width="50" height="50" />
                            </a>
                    {% endfor %}
                </div>
                <br class="clear"/>
                <div id="ptgs" class="row centered">
                    <img src="{{asset(['gallery/', painting.image]|join)}}" alt="{{ painting.title }} - Painting by Stacy Mark"/>
                    <p class="ptg-info centered">{{ painting.title }} <span>| {{ painting.available }}</span></p>
                </div>
            </div>
    </section>

</div>
{% endblock %}
{% block js_btm %}
    {{ parent() }}
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ asset('scripts/jquery.validate.min.js') }}"></script>
{% endblock %}