{% extends '::base.html.twig' %}

{% block styles %}
    {{ parent() }}
{% endblock %}

{% block content %}
<div class="editor"/>
    <h1>Painting List</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th><span class="table-hdr">Id</span></th>
                <th><span class="table-hdr">Image</span></th>
                <th><span class="table-hdr">Thumb</span></th>
                <th><span class="table-hdr">Title</span></th>
                <th><span class="table-hdr">Medium</span></th>
                <th><span class="table-hdr">Date_fin</span></th>
                <th><span class="table-hdr">Dim</span></th>
                <th><span class="table-hdr">Available</span></th>
                <th><span class="table-hdr">Slug</span></th>
                <th><span class="table-hdr">Actions</span></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('painting_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td><img src="{{ vich_uploader_asset(entity, 'image') }}" alt="{{ entity.title }}" width="50" height="50" style="margin:0 10px;"/></td>
                <td><img src="{{ vich_uploader_asset(entity, 'thumb') }}" alt="{{ entity.title }}" width="50" height="50" style="margin:0 10px;"/></td>
                <td>{{ entity.title }}</td>
                <td>{{ entity.medium }}</td>
                <td>{{ entity.datefin }}</td>
                <td>{{ entity.dim }}</td>
                <td>{{ entity.available }}</td>
                <td>{{ entity.slug }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('painting_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('painting_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('painting_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
</div>
    {% endblock %}
